
$headerHeight: 10vh;

.header {
    border-bottom: 1px solid black;
    background-color: lightgray;
    color: white;
    width: 100%;
    height: $headerHeight;
    display: flex;
    justify-content: space-around;
    align-items: center;
}