
@import '../../components/header/style';
@import '../../components/footer/style';

.defaultLayout{
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 100vh;
}

.body{
    width: 100%;
    height: 100vh - $headerHeight - $footerHeight;
}